* {
    box-sizing: border-box;
}

body {
    background-color: #F0F2F5;
}

#container {
    background-color: green;
    padding: 20px;
}


/* This is for the left side  */
#leftside {
    /* background-color: grey; */
    display: inline-block;
    margin: 8% 15% 15% 10%;
}

h1 {
    color: blue;
    margin:0;
    font-size: 40px;
}

h2 {
    margin: 10px 0 0 0;
    font-size: 27px;
}

span {
    font-weight:lighter;
}

#facebookbottom {
    margin-top: 20px;
}

.profilepic {
    display: inline-block;
}

#pic1 {
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

#rightpic, #leftpic {
    background-color: white;
    border-radius: 10%;
    margin-right: 10px;
}

figcaption {
    text-align: center;
    padding: 10px;
}

/* This is for the right side */

#rightside {
    background-color: lightgrey;
    display: inline-block;
    margin: 10%;
    width: 20%;
    height: 70%;
}

form {
    padding: 20px;
}

input[type="text"] {
    margin: 10px;
}
