* {
    box-sizing: border-box;
}


body, html {
    height:100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif; ;
    line-height: 30px;
}

#one {
    background-image: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    min-height: 60%;
    background-color: rgba(102, 102, 102, 0.657);
    background-blend-mode: lighten;
    margin: 0;
    padding: 0;
}

h1, h3, h5 {
    margin: 0;
    padding: 0;
}

#two {
    background-color: #eaeaea;
    padding: 10px 100px;
    text-align: center;
}

#two h3 {
    font-size: 1.5em;
    margin: 10px;
}

#two #div-wrapper p {
    columns: 2;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;
    column-gap: 2em;
}
#div-wrapper {
    padding: 0 60px;
    margin: 30px 0;
}

/* ul {
    list-style-type:none;
    margin: 0;
    padding: 0;

} */

#three {
    background-color: khaki;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    /* background-color: turquoise;
    text-align: center;
    overflow: hidden; */
    /* min-height: 80%;
    overflow: hidden;
    padding: 40px 40px; */ 
}

#column1, #column2, #column3 {
    flex: 1;
    background-color: white;
    /* width: 30%;
    background-color: white;
    margin: 0;
    padding: 0;
    float: left; */
    /* background-color: teal;
    width: 300px;
    height: 50%;
    text-align: center; */
}

/* #column1 h5 {
    /* margin: 30px;
    font-size: 20px; */
/* } */

/* #column1 p { */
    /* padding: 0 30px 40px 30px;
    margin: 0; */
/* } */ 
/*
#column2 {
    background-color:yellow;
    float: left;
    width: 33.3%;
    height: 100%;
}

#column3 {
    background-color:salmon;
    float: left;
    width: 33.3%;
    height: 100%;
} */

img {
    display: block;
    width: 100%;
    height: 200px;
}

#four {
    background-color: white;
    text-align: center;
    padding: 20px;
}

#five {
    background-color: blue;    
    text-align: center;
    overflow: hidden;
    color: white;
}

#six {
    background-color: black;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.six-height {
    height: inherit;
}

.fivve p {
    color: white;
}

.fivve {
    width: 50%;
    float: left;
}

#left-five, #right-five {
    padding: 20px;
}

#left-five {
    background-color: #2691D5;
}

#right-five {
    background-color: #333333;
    height: 208px;
}

/* #six {
    background-color: yellowgreen; 
} */