* {
    box-sizing: border-box;
}

:root {
    --yellow-col: #ffc600;
    --black-col: #272727;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    background-image: 
    /* url(./images/topography.svg),  */
    linear-gradient(110deg, #f93d66, #6d47d9);
    background-attachment: fixed;
}

.container {
    /* width: 90%; */
    margin: 3rem 1rem;
}


/* ===============*/
/* Nav menu */
/* =========== */

.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-ham {
    background-color: var(--yellow-col);
    width: fit-content;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 3.5rem;
}

.nav-menu_desktop {
    display: none;
}

.nav-menu {
    margin-top: 1rem;
}

.nav-menu a {
    text-decoration: none;
    color: var(--black-col);
    background-color: var(--yellow-col);
    padding: 1rem 1rem;
}

/* ============== */
/*Hero section  */
/* ============= */

.hero {
    display: flex;
    flex-direction: column;
}

.hero-background {
    background-image: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg);
    min-height: 25rem;
    background-repeat: none;
    background-size: cover;
    background-position: right;
    padding: 0 2rem;
    display: flex;
    justify-content:center;
    align-items:center;
}

.hero-content {
    max-width: 90ch;
}

.hero-content h1, .hero-content span {
    font-size: 2.3rem;
    background-color: var(--yellow-col);
    width:fit-content;
    padding: 0.5rem 0.5rem;
}

.hero-content span {
    padding: 0.2rem 0.2rem;
    font-size: 1.3rem;
}

.hero-prices > div {
    background-color: var(--yellow-col);
    text-align: center;
    margin: 1.1rem 0 1.3rem 0;
    min-height: 6.25rem;
}

.hero-Kombucha-price p, .hero-taco-price p {
    margin: 0;
    font-size: 3.6rem;
    font-weight: 300;
}

/* .hero-special { 
    padding: 0.2rem 0.2rem;
    font-size: 1rem;
} */


/* ==================*/
/* Main menu section */
/* ================= */

.main-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.main-menu-item {
    background-color: #fff;
    /* margin-bottom: 1.5rem; */
    text-align: center;
    min-height: 11rem;
}

/* .main-menu-item:last-child {
    margin-bottom: 1rem;
} */

.main-menu-icon {
    font-size: 50px;
}

.main-menu-item p {
    color: rgba(63, 62, 62, 0.705);
    letter-spacing: -0.1rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-width: 100ch;
} 

.main-menu-item h3 {
    margin: 0;
}





/* ============== */
/* CTA SECTION */
/* ============= */

.cta {
    margin-top: 1rem;
    background-color: #fff;
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.25px;
}

.cta-img {
    max-width: 25rem;
}

.cta-content {
    max-width: 30ch;
}

.cta-content input {
    background-color: var(--yellow-col);
    border: none;
    padding: 0.7rem 1rem;
    width: 10rem;
}

/* ============= */
/* divider */
/* ============= */

.divider-container {
    position: relative;
    /* background-color: turquoise; */
}

.divider {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: 700;
    width: fit-content;
}

.divider::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 13px;
    min-width: auto;
    width: 95px;
    height: 10px;
    border: none;
    background-image: linear-gradient(to right, #fdbe2c00 , #fdbe2c);
}

.divider::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    /* width: 95px; */
    min-width: 25%;
    height: 10px;
    border: none;
    background-image: linear-gradient(to right, #fdbe2c, #fdbe2c00);
    box-sizing: inherit;
}

.images {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.images img {
    width: 100%
}


/* Small tablet styles  */



/* Large tablet and laptops styles */

/* @media screen and (min-width: 960px) {
    
} */

/* desktop styles */

/* @media screen and (min-width: 1200px) {
    
} */


@media screen and (min-width: 620px) {
    .container {
        margin: 3rem 3rem;
    }

    /* ============ */
    /*Hero section  */
    /* =========== */

    .hero {
        margin-bottom: 1.1rem;
        display: flex;
        flex-direction: row;
    }

    .hero-background {
        width: 67%;
        justify-content:flex-start;
        align-items:center;
    }

    .hero-prices {
        width: 33%;
        display: flex;
        flex-direction: column;
    }

    .hero-prices > div {
        margin: 0 0 1.1rem 1.1rem;
        padding-top: 3rem;
        flex-grow: 1;
    }

    .hero-prices > div:last-child {
        margin-bottom: 0;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content span {
        font-size: 1rem;
    }

    /* ==================*/
    /* Main menu section */
    /* ================= */

    .main-menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        gap: 1rem;
    }

    .main-menu-item {
        background-color: #fff;
        text-align: center;
        padding: 0 1rem;
    }

    .main-menu-item p {
        max-width: 25ch;
        color: rgba(63, 62, 62, 0.705);
        letter-spacing: 0.01rem;
        font-size: 1.1rem;
        margin: 2rem auto;
    }

    /* ============ */
    /*Hero section  */
    /* =========== */

    .cta {
        flex-direction: row;
    }

}