* {
    box-sizing: border-box;
}

:root {
    --yellow-col: #ffc600;
    --black-col: #272727;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    background-image: 
    /* url(./images/topography.svg),  */
    linear-gradient(110deg, #f93d66, #6d47d9);
    background-attachment: fixed;
}

.container {
    width: 80%;
    margin: 3rem 3rem;
}

@media (min-width) {
    
}